* {
    box-sizing: border-box;
}

body {
    background: rgb(60,	60,	60);
    color: rgb(245, 245, 245);
}

input, select, textarea {
    background-color: #222222;
    text-decoration: none;
}

.monsters > li {
    cursor: pointer;
    color: #222222;
}

.monsters > li:hover {
    background-color: #222222;
    color: #ffa517;
}

.wrapper {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    -webkit-justify-content: center;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
}

.header {
    background: tomato;
    flex: 1 100%;
    -webkit-flex: 1 100%;
}

.footer {
    order: 4;
    -webkit-order: 4;
    flex: 1 100%;
    -webkit-flex: 1 100%;
}

.main {
    order: 2;
    -webkit-order: 2;
    flex: 2;
    -webkit-flex: 2;  
}

.gracz .row {
    display: flex;
    display: -webkit-flex;
}

.monster-name .input-group {
    display: -webkit-inline-flex;
    display: inline-flex;
}

.monster-name .input-group-btn {
    flex: 1;
    -webkit-flex: 1;
}

#name1, #name2 {
    flex: 2;
    -webkit-flex: 2;
}

.input-group-addon, .input-group-btn, .input-group .form-control {
    display: inline-block;
}

.row .col-lg-2 {
    flex-grow: 2;
    -webkit-flex-grow: 2;
}

.aside-1 {
    order: 1;
    -webkit-order: 1;
    flex: 3;
    -webkit-flex: 3;
    text-align: center;
    font-family: fantasy;
}

.aside-2 {
    order: 3;
    -webkit-order: 3;
    flex: 3;
    -webkit-flex: 3;
    text-align: center;
    font-family: fantasy;
}


.vs {
    font-size: 3em;
}

#shared_battle_log {
    padding: 0px;
    padding-top: 50px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#shared_battle_log .badge {
    float: none;
}

#shared_battle_log div, span {
    display: -webkit-inline-flex;
    display: inline-flex;
}

#shared_battle_log .player2 {
    float: left;
    position: relative;
    top: 12px;
    right: 5px;
}

#shared_battle_log .player1HPBar {
    -webkit-order: 2;
    order: 2;
    padding-left: 10px;
}

#shared_battle_log .player1Hp {
    -webkit-order: 3;
    order: 3;
    padding-left: 5px;
}

#shared_battle_log .round {
    position: relative;
    bottom: 8px;
    font-size: 20px;
}

#shared_battle_log .player2Hp {
    -webkit-order: 4;
    order: 4;
    position: relative;
    right: 5px;
}

#shared_battle_log .p2, .player2HPBar {
    float: right;
    position: relative;
}

#shared_battle_log .player1 {
    float: right;
    position: relative;
    top: 12px;
    left: 5px;
}

#shared_battle_log .critic {
    background-color: tomato;
}

#shared_battle_log .miss {
    background-color: lightblue;
}

.battleStatus {
    font-size: 25px;
    color: darkorange;
}



.outer {
    width: 15px;
    height: 40px;
    border: 2px solid #ccc;
    overflow: hidden;

    position: relative;
    background-color: rgb(60,	60,	60);

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.inner, .inner div {
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.inner {
    background-color: green;
    bottom: 0;
    height: 0;
}

.inner div {
    /*border: 2px solid orange;*/
    border-bottom-width: 0;
    background-color: orange;

    top: 0;
    width: 100%;
    /*height: 5px;*/
}


.round {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    border: 5px orange solid;
    border-radius: 8px;
    box-shadow: -34px 33px 27px -6px rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 15px;
    width: 130%;
    height: 200px;
    max-width: 500px;
    
}
.round:hover {
    border: 5px gray solid;
    transition-timing-function: cubic-bezier(0, 0.98, 0.51, 0.93);
    transition-duration: 200ms;
    transition-delay: 0s;   
}

 .monster {
    border: 3px solid #a94f00;
    background-color: #222222;
    border-radius: 12px;
    color: #E0E0E0;
    margin: 5px;
    padding: 15px;
    padding-right: 35px;
    padding-left: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 95%;
    min-height: 45%;
    width: 95%;
    font-size: 20px;
}
.monster-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.hp {
    border: 3px solid #CD5C5C;
    width: 15%;
    height: 15%;
    border-radius: 12px;
    padding-top: 5px;
    margin: 5px;
    padding: 15px;
    padding-right: 35px;
    padding-left: 35px;
    color: grey;
    align-items: center;
    justify-content: center;
 
}
.damageDeal {
    border: 3px solid;
    border-radius: 12px;
    padding-top: 10px;
    margin: 5px;
    padding: 15px;
    padding-right: 35px;
    padding-left: 35px;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 15%;
}
input {
    color: white;
    width: 40%;
    padding: 5px 10px;
    margin: 3px;
    margin-top: 10px;
    box-sizing: border-box;
    text-align: center;
}
#gracz1Data {
    color: white;
    padding: 5px;
    margin: 10px;
    width: 10em;
    height: 3em;
    font-family: fantasy;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    text-indent: 25px;
    margin-top: 5px;
}
#gracz2Data {
    color: white;
    padding: 5px;
    margin: 10px;
    width: 10em;
    height: 3em;
    font-family: fantasy;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    text-indent: 25px;
    margin-top: 5px;
}
.txt {
    padding-top: 25px;
    margin: -10px;
}
.list-group {
    overflow-y: scroll;
    max-height: 600px;
    
}
.ulWrapper {
    width: 600px;
    overflow-x: hidden;
    position: relative;
}

.ulWrapper::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(60,60,60,0.1) 0%, rgba(60,60,60,1) 50%);
    z-index: 9999;
    position: absolute;
}
.ulWrapper::after {
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(60,60,60,0.1) 0%, rgba(60,60,60,0.7) 50%);
    z-index: 9999;
    position: absolute;

.btn-success {
    margin-bottom: 20px;
}