body {
    background: rgb(60,	60,	60);
    color: rgb(245, 245, 245);
}

input, select, textarea {
    background-color: #222222;
    text-decoration: none;
}

.monsters > li {
    cursor: pointer;
    color: #222222;
}

.monsters > li:hover {
    background-color: #222222;
    color: #ffa517;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
}

.header {
    background: tomato;
    flex: 1 100%;
}

.footer {
    order: 4;
    flex: 1 100%;
}

.main {
    order: 2;
    flex: 1;
}

.aside-1 {
    order: 1;
    flex: 3;
}

.aside-2 {
    order: 3;
    flex: 3;
}


.vs {
    font-size: 3em;
}

#shared_battle_log {
    color: black;
    background-color: #00b3ee;
}

#shared_battle_log .critic {
    background-color: tomato;
}

#shared_battle_log .miss {
    background-color: lightblue;
}

.battleStatus {
    font-size: 25px;
    color: darkorange;
}

